PLEASE ENTER YOUR CREDENTIALS AND DELETE THIS LINE
{
  "recochoku": {
    "key": "XXXXX"
  },
  "gracenote": {
    "user": "XXXXX",
    "client": "XXXXX",
    "client_id": "XXXXX"
  },
  "soundcloud": {
    "client_id": "XXXXX"
  },
  "spotify": {
    "clientId": "XXXXX",
    "clientSecret": "XXXXX"
  }
}
