#playcue-list{
	
	padding-top:60px;
	
	background-color:#666;
	
	li {
		display: block;
		padding:8px;
		color:#FFF;
		border-bottom:1px solid rgba(255,255,255,0.5);
		line-height:1.1em;
		font-size:15px;
		.song-title {}

		.song-album-title ,
		.song-artists {font-size:11px;}
		.song-album-title {}
		.song-artists {}
	}
}